---
layout: base
title: Tafelaufschriebe
---

<h1>Tafelaufschriebe</h1>
<div class="popup-gallery">
    {% for board in site.data.boards %}
        {% if board.heading %}
            <h2>{{ board.heading }}</h2>
        {% endif %}
        <a href="https://raw.githubusercontent.com/hft-swp/stuff/master/boards/{{ board.filename }}" title="{{ board.title }}">
            <img src="https://raw.githubusercontent.com/hft-swp/stuff/master/boards/thumb_{{ board.filename }}" height="100" />
        </a>
    {% endfor %}
    <h2>31.03.2014</h2>
    <p>Dokumentation des heutigen Treffens im <a href="https://github.com/hft-swp/stuff/wiki/Doku-2014.03.31">Wiki</a></p>
</div>

<script>
$(document).ready(function() {
        $('.popup-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-fade',
                gallery: {
                        enabled: true,
                        navigateByImgClick: true,
                        preload: [0,1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                        tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
                }
        });
});
</script>
