body {
    margin: 0;
    background: url('bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#content {
    margin: 20px;
    opacity: 0.95;
    min-width: 300px;
}

h2 {
    margin-left: 10px;
}

h3 {
    margin-left: 20px;
}

h4 {
    margin-left: 30px;
}

p {
    margin-left: 40px;
}

.popup-gallery a img{
    margin: 5px;
}

/* magnific popup styles */
/*.mfp-image-holder .mfp-content {
    max-width: 50%;
}*/

.mfp-image img{
    -moz-zoom-in; cursor:
    -webkit-zoom-in;
    cursor: zoom-in;
}

/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

