<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="HfT Stuttgart Informatik 6. Semester SS2014">

    <title>SWP 2 - {{ page.title }}</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
</head>

<body style="margin:20px">
<div class="container">
     <div class="navbar navbar-default navbar-inverse" style="margin-top: 10px" role="navigation"> 
         <div class="navbar-header"> 
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
                 <span class="sr-only">Toggle navigation</span> 
                 <span class="icon-bar"></span> 
                 <span class="icon-bar"></span> 
                 <span class="icon-bar"></span> 
             </button> 
             <a class="navbar-brand" href="#">SWP 2</a> 
         </div> 
         <div class="navbar-collapse collapse"> 
             <ul class="nav navbar-nav"> 
                 <li><a href="/">Home</a></li> 
                 <li><a href="/software.html">Software</a></li> 
             </ul> 
         </div> 
     </div> 
    <div id="content" class="well well-sm">
        {{ content }}
    </div>
</div>

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>
